*{
   margin: 0; 
   padding: 0%;
   font-family: 'Roboto', sans-serif;
   text-align: center;
  background-color: rgb(243, 143, 13);
}

h1{
padding: 20px;
text-align: center;
}
label{
   font-weight: bold;
 
}
input{
   text-align: center;
   padding: 5px;
   margin: 10px;
   border-radius: 6px;
}
.total_mark{
   margin-left: 6em;
}
button{
   padding: 10px 15px 10px 15px;
   border-radius: 50px;
   margin-top: 20px;
   margin-right: 6em;
   background-color: rgb(189, 240, 113);
   color: white;
}
button:hover{
   background-color: black;
   color: white;
}
h3{
   
   margin: 15px;
}
@media screen and (max-width:425px) {
   .total_mark{
      display: flex;
      flex-direction: row;
      margin-left: 5em;
   }
   span{
      display: flex;
      flex-direction: row;
   }
   }